--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
supabase
python-dotenv
pydantic
pydantic-settings
httpx
torch
torchaudio
speechbrain
scipy
soundfile
google-genai
python-multipart
